*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

html {
  font-size: 62.5%;
  /* (62.5/100) * 16px = 10px */
  -webkit-text-size-adjust: none;
  /* for iOS Safari */
  text-size-adjust: none;
  /* for other mobile browsers */
}

body {
  padding: 1rem;
  background-color: rgb(48, 48, 48);
  color: white;
  line-height: 1;
  font-family: "Manrope", sans-serif;
  text-rendering: optimizeSpeed;
}

img {
  width: clamp(6rem, 4.146rem + 4.878vw, 10rem);
  filter: drop-shadow(1px 1px 2px rgb(70, 69, 69))
}

button {
  cursor: pointer;
  border: none;
  color: black;
}

h1 {
  font-size: clamp(3rem, 1.7rem + 3.25vw, 5.6rem);
  font-weight: 200;
  color: rgba(128, 128, 128, 0.705);
  filter: drop-shadow(3px 3px 1px rgba(0, 0, 0, 0.486))
}

h2 {
  font-size: clamp(2rem, 1rem + 2.5vw, 3rem);
  filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.486));
}

h3, button {
  font-size: clamp(1.8rem, 1.7rem + 0.25vw, 2rem);
  filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.486));
}

p {
  font-weight: 500;
  font-size: clamp(1.6rem, 1.3rem + 0.25vw, 1.8rem);
  filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.212));
}

span {
  font-weight: 600;
  font-size: clamp(1.8rem, 1.6rem + 0.5vw, 2.2rem);
}

.container {
  display: flex;
  align-content: center;
  align-items: center;
  text-align: center;
}

header {
  margin-block: 3rem;
  text-align: center;
}

main {
  flex-direction: column;
  justify-content: space-evenly;
  align-content: center;
  align-items: center;
  row-gap: 3rem;
}

.game-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.scoreboard{
  flex-direction: column;
  justify-content: center;
  width: clamp(25rem, 20rem + 12.5vw, 35rem);
  background-color: grey;
  border: 2px solid;
  border-radius: 5px;
  filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.486));
  .head {
    margin-top: 0.3rem;
    background-color: rgb(97, 97, 97);
    border-bottom: none;
    border-radius: 10px 10px 0px 0px;
    padding: .4rem;
  }
}

.scores {
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
  padding-block: .8rem;
  border-top: 2px solid;
  filter: drop-shadow(0px 0px 3px rgba(59, 59, 59, 0.534));
}

.score {
  display: flex;
  flex-direction: column;
  justify-content: center;
  aspect-ratio: 1 / 1;
  width: 30%;
  border: 2px solid blueviolet;
  border-radius: 5px;
  gap: 1rem;
  background-color: white;
  background-clip: border-box;
  color: black;
}

.game {
  flex-direction: column;
  width: clamp(35rem, 5rem + 75vw, 95rem);
  padding: 2rem;
  border-radius: 10px;
  background-color: rgba(136, 136, 136, 0.582);
  filter: drop-shadow(0px 0px 3px rgb(14, 14, 14));
  h2 {
    padding-bottom: 1rem;
  }
}

.choice {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 1rem;
  row-gap: 1.2rem;
  button {
    width: 70%;
    border: 2px solid rgb(137, 43, 226);
    border-radius: 5px;
    background-color: rgb(173, 169, 169);
    filter: drop-shadow(0px 0px 2px rgba(14, 14, 14, 0.445));
    img {
      padding: 0.8rem;
    }
  }
}

.results {
  display: none;
  flex-direction: column;
  width: 100%;
  margin-block: -1rem;
  button {
    background-color: blueviolet;
    width: clamp(35rem, 5rem + 75vw, 95rem);
    margin: -1rem;
    padding: 1rem;
    border-radius: 0px 0px 5px 5px;
    font-weight: 500;
  }
}

.msg {
  display: flex;
  flex-direction: column;
  line-height: 1.5;
}

#winner-msg {
  font-size: clamp(2.5rem, 1.5rem + 2.5vw, 4.5rem);
  font-weight: 500;
}

.chosen {
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin-block: 2rem;
}

.chose {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  padding: 1rem;
  row-gap: 1rem;
  border-radius: 5px;
  background-color: rgb(48, 47, 47);
  filter: drop-shadow(0px 0px 2px rgba(14, 14, 14, 0.445));
  img {
    padding: 0.8rem;
  }
}

#reset-game-btn {
  display: none;
}

@media screen and (min-width: 850px) {

  header {
    display: flex;
    flex-direction: row;
    column-gap: 5rem;
    justify-content: center;
  }

  .chosen {
    padding-inline: 8rem;
  }

  .choice {
    flex-direction: row;
    justify-content: space-evenly;
    align-content: space-evenly;
    padding-block: 2rem;
    button {
      border-color:rgb(48, 47, 47);
      width: auto;
      padding: 1rem;
      img {
        padding: 1.5rem;
      }
    }
    button:hover {
      filter: drop-shadow(1px 1px 2px rgb(137, 43, 226));
      border-color: rgb(83, 38, 124);
      transition: .2s ease-in-out;
      img {
        padding: .5rem;
        transition: .2s ease-in-out;
      }
    }
  }
}